// Cores
$corPrincipal: #cfcfcf;
$corSegundaria: #111111;
$purplePrimario: #7d5dfe;
$purpleSegundario: #6d53d6;
$brancoPrimario: #f2f2f2;
$brancoSegundario: #eaeaea;
$grayPrimario:#2f2d38;
$graySegundario: #2f2b39;
$corSombra: rgba(0, 0, 0, 0.15);

// Fonte
$fontePrincipal: "Roboto", sans-serif;